body { background: white; width: 100vw; height: 100vh; margin: 0; font-family: sans-serif; overflow: hidden; }
.touch { display: inline-block; position: absolute; width: 40px; height: 40px; right: 5px; top: 40px; transform: translate(-50%, -50%); text-decoration: none; }
@media (max-width: 500px) { .touch { width: 30px; height: 30px; right: 2px; top: 33px; } }
.touch span { display: inline-block; position: absolute; top: 50%; transform: translate(0, -50%); width: 100%; height: 10%; background: rgba(88, 255, 128, 1); color: transparent; }
.touch span:before, .touch span:after {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(88, 255, 128, 1); }
.touch span:before { top: -320%; }
.touch span:after { top: 320%; }
.touch.on span { animation-name: touch-on; animation-duration: 0.5s; animation-fill-mode: forwards; }
.touch.on span:before { animation-name: touch-on-before; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-out; }
.touch.on span:after { animation: touch-on-after; animation-duration: 0.5s; animation-fill-mode: forwards; }
.touch.off span { background: rgba(88, 255, 128, 0); animation-name: touch-off; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-in; }
.touch.off span:before { top: 0; transform: rotate(45deg); animation-name: touch-off-before; animation-duration: 0.5s; animation-fill-mode: forwards; }
.touch.off span:after { top: 0; transform: rotate(-45deg); animation-name: touch-off-after; animation-duration: 0.5s; animation-fill-mode: forwards; }
@keyframes touch-on { to { background: rgba(255, 198, 0, 0); } }
@keyframes touch-on-after { to { top: 0; transform: rotate(-45deg); background: rgba(128, 128, 128, 1); } }
@keyframes touch-on-before { to { top: 0; transform: rotate(45deg); background: rgba(128, 128, 128, 1); } }
@keyframes touch-off { to { background: rgba(88, 255, 128, 1); } }
@keyframes touch-off-after { to { top: 320%; transform: rotate(0); } }
@keyframes touch-off-before { to { top: -320%; transform: rotate(0); } }
.opacity.menu-on h1, .opacity.menu-on .search { opacity: 0.35; }
.menu { display: inline-block; background: white; position: absolute; right: -702px; top: 0; width: 700px; height: 100vh; transition: all .5s; border-left: 2px solid gray; }
.menu.on { right: 0; }
.search img { max-width: 40px; color: white; transform: translate(0, 15%); }
input[id="sub"] { display: none; }
input[id="sub"] + label { display: inline-block; width: 50px; height: 50px; position: absolute; right: 0; cursor: pointer; }
input[type="text"] { outline-style: none; font-size: 20px; display: inline-block; width: 790px; height: 48px; position: absolute;; left: 50%; top: 50%;
  transform: translate(-50%, -50%); border: 1px solid rgba(88, 255, 128, 1); border-radius: 4px; transition: all .4s; padding: 0 0 0 9px; }
.searchGrid { width: 800px; height: 50px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.main { width: 1000px; height: 200px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.main h1 { color: rgb(88, 255, 128); font-size: 52px; position: absolute; left: 50%; top: 10px; transform: translate(-50%, -50%); transition: all .4s; }
.main .search { display: inline-block; width: 800px; height: 50px; transition: all .4s; position: absolute; left: 50%; top: 120px; transform: translate(-50%, -50%); }

@media ( max-width: 500px ) {

  .main { width: 300px; height: 100px; top: 35%; }
  .main h1 { font-size: 30px; top: 5px; }
  .main .search { width: 300px; height: 33px; top: 72px; }
  input[type="text"] { width: 245px; height: 33px; }
  .search img { max-width: 30px; transform: translate(-50%, -50%); }
  .menu { width: 100vw; right: -101vw; }

}
